/* Regular */
@font-face {
  font-family: "Triptych";
  src: url("../fonts/triptych/Triptych-Roman.woff2")
      format("woff2"),
      url("../fonts/triptych/Triptych-Roman.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
