:root {
  --font-serif: "Triptych", serif;
  --font-mono: "STK Gerhard", monospace;

  --font-size-s: 0.8rem;
  --font-size-m: 1rem;
  --font-size-l: 2.4rem;
  --font-size-xl: 1.3rem;

  --spacing-sitepadding: 1.2rem;
  --border-width: 0.12em;

  // colors
  --color-main: #066e32;
  --color-blue: #1e1253;
  --color-black: #111;
  --color-white: #fff;
}

body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-highlight: var(--color-main);
}

// dark theme
body[data-theme="dark"] {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-highlight: var(--color-main);
}

@media (max-width: 800px) {
  :root {
    --font-size-l: 1.3rem;

    --spacing-sitepadding: 1.2rem;
    --border-width: 0.12em;
  }
}
